$colorSpecialOffer: #FEFFD9
$colorGrey: #F4F4FA
$colorSlider: #142F73
$colorButton: #FF4E00
$colorSecondaryBackground: #EDEDF6
$colorThirdaryBackground: #E4FFFB
$colorFourBackground: #FFECE3
$colorFiveBackground: #E5F0FF
$colorGradient: linear-gradient(180deg, #EDEDF6 0%, rgba(237, 237, 246, 0) 100%)
$colorFontFirstly: #000032
$colorFontSecondary: #56566D
$colorFontFooter: #A0A0D4
$colorFont: #fff
$colorAllRightsReserved: #686896
$firstOfType: #E5F0FF
$secondOfType: #F9ECFF
$thirdOfType: #E4FFFB
$brightOne: #FF4E00
$brightTwo: #56566D
$brightThree: #A94CD3
$brightFour: #19CBB1
$brightFive: #5FA2FB
$bottomLine: #4A4A8C