@import '_variables.sass'
@import '_general.sass'
@import '_media.sass'

*
    font-family: 'Inter', sans-serif
    font-style: normal
    box-sizing: border-box
    margin: 0
    padding: 0

body
    position: relative
    background-color: $bg_color
