@font-face
    font-family: "AvenirNextCyr-Demi"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Demi.ttf")

@font-face
    font-family: "AvenirNextCyr-Bold"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Bold.ttf")

@font-face
    font-family: "AvenirNextCyr-Medium"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Medium.ttf")

@font-face
    font-family: "AvenirNextCyr-Light"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Light.ttf")

@font-face
    font-family: "AvenirNextCyr-Thin"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Thin.ttf")

@font-face
    font-family: "AvenirNextCyr-Regular"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Regular.ttf")

*
    font-style: normal
    font-family: "AvenirNextCyr-Demi"
    box-sizing: border-box
    margin: 0
    padding: 0
    letter-spacing: 4%

body
    position: relative

@import '_variables.sass'
@import '_general.sass'
