@font-face
    font-family: "AvenirNextCyr-Demi"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Demi.ttf")

@font-face
    font-family: "AvenirNextCyr-Bold"
    src: url("../fonts/Avenir Next Cyr/AvenirNextCyr-Bold.ttf")

*
    font-style: normal
    font-family: "AvenirNextCyr-Demi"
    box-sizing: border-box
    margin: 0
    padding: 0

body
    position: relative

@import '_general.sass'