<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Алюминиевые двери | РемМашСервис - Окна и двери</title>
    <meta name="description"
        content="Окна ПВХ. Металлические двери, противопожарные двери и окна, алюминиевые двери и окна, технические двери. Противопожарные люки." />
    <meta name="keywords" content="окна, двери, пвх, металлические, противопожарные, алюминиевые, технические люки" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/entrance.min.css">
    <link rel="stylesheet" href="/css/alum.min.css">
    <link type="image/png" sizes="16x16" rel="icon" href="/img/favicon_16х16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/img/favicon_32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/img/favicon_96x96.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/img/favicon_120x120.png">
    <script async src="https://kit.fontawesome.com/328cbe3bb0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- <div class="soff-main">
            <div class="special-offer">
                <div class="alignCenter">
                    <div class="offerText"><i class="fa-solid fa-door-open"></i>Специальное предложение от РемМашСервис
                    </div>
                    <div class="more-info"><a href="">Узнать больше <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <i class="fa-solid fa-xmark" onclick="closeSoff()"></i>
            </div>
        </div> -->
        <div id="fixed" class="fixed">
            <div class="hat-bar">
                <div class="wrapped">
                    <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo"></a></span></div>
                    <nav class="navbar">
                        <ul>
                            <li class="nav-active-item" onclick="activeItem(1)">
                                <a>Двери <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#doors">Противопожарные</a></li>
                                    <li><a href="/entrance-doors">Входные</a></li>
                                    <li><a href="/tech-doors">Технические</a></li>
                                    <li><a href="/interior-doors">Межкомнатные</a></li>
                                    <li><a href="/alum#doors">Алюминиевые</a></li>
                                    <li><a href="/pvch#doors">ПВХ</a></li>
                                </ul>
                            </li>
                            <li class="nav-active-item" onclick="activeItem(2)">
                                <a>Окна <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#windows">Противопожарные</a></li>
                                    <li><a href="/alum#windows">Алюминиевые</a></li>
                                    <li><a href="/pvch#windows">ПВХ</a></li>
                                </ul>
                            </li>
                            <li><a href="/firefighting#lukes">Люки</a></li>
                            <li><a href="/photogallery">Фотогалерея</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></li>
                        </ul>
                    </nav>
                    <div class="search"></div>
                    <div class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></div>
                </div>
                <div id="burger" class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <script async src="/js/activeSubMenu.js"></script>
                <script async src="/js/burger.js"></script>
                <script async src="/js/resetBurger.js"></script>
            </div>
        </div>
    </header>
    <main>
        <div class="title">
            <h1>АЛЮМИНИЕВЫЕ ОКНА, ДВЕРИ, ВИТРАЖИ</h1>
        </div>
        <div id="doors" class="container optima">
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img src="/img/doors/alum/alum-door-1.png" alt="alum-door-image">
                    </div>
                    <div class="right-block">
                        <div class="title-text">ХОЛОДНЫЕ АЛЮМИНИЕВЫЕ ДВЕРИ</div>
                        <div class="parph">Холодные алюминиевые двери предназначены для установки во внутренних и наружных проемах стен зданий.</div>
                        <div class="parph">Они устанавливаются во входных группах, тамбурах, витринах, а также внутри любых административных и общественных зданий.</div>
                        <div class="parph">В их конструкции отсутствует термовставка, а значит, температура в здании и помещении будет отличаться на 5-7 градусов.</div>
                        <div class="parph"><strong>Тип профиля:</strong> из холодного алюминия Alumin Techno C43.</div>
                        <div class="parph"><strong>Глухие или остекленные</strong> (одно стекло или стеклопакет).</div>
                        <div class="parph"><strong>Цвет:</strong> белый (возможны другие варианты ламинации).</div>
                        <div class="parph">Компания «РемМашСервис» предлагает широкий выбор алюминиевых дверей: двери однопольные и двупольные, поворотные с наружным и внутренним открыванием, маятниковые, раздвижные. Полный типоразмерный ряд штапиков с шагом в 5 мм и внутренних уплотнителей позволяют устанавливать стекло, стеклопакеты или глухие панели толщиной от 4 до 36 мм.</div>
                        <div class="price">
                            <div class="parph">от 16 500 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="econom" class="container econom">
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img src="/img/doors/alum/alum-door-1.png" alt="alum-door-image">
                    </div>
                    <div class="right-block">
                        <div class="title-text">ТЕПЛЫЕ АЛЮМИНИЕВЫЕ ДВЕРИ</div>
                        <div class="parph">Теплые алюминиевые двери предназначенные для установки в помещениях, требуемых повышенной звуко- и термоизоляции.</div>
                        <div class="parph">Основа подобных конструкций представляет собой комбинированный профиль из двух алюминиевых частей, соединенных друг с другом термовставкой из полиамида.</div>
                        <div class="parph">По показателям теплопроводности данная серия конструкций соответствует лучшим ПВХ-системам, входя в рамную группу 1.0 по термоизоляционным свойствам.</div>
                        <div class="parph"><strong>Тип профиля:</strong> из теплого алюминия Alumin Techno W62.</div>
                        <div class="parph"><strong>Глухие или остекленные</strong> (одно стекло или стеклопакет).</div>
                        <div class="parph"><strong>Цвет:</strong> белый (возможны другие варианты ламинации).</div>
                        <div class="parph">Компания «РемМашСервис» предлагает широкий выбор алюминиевых дверей: двери однопольные и двупольные, поворотные с наружным и внутренним открыванием, раздвижные. Полный типоразмерный ряд штапиков с шагом в 5 мм и внутренних уплотнителей позволяют устанавливать стекло, стеклопакеты или глухие панели толщиной от 4 до 36 мм.</div>
                        <div class="price">
                            <div class="parph">от 18 500 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="windows" class="container windows">
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img src="/img/windows/window-alum.png" alt="alum-door-image">
                    </div>
                    <div class="right-block">
                        <div class="title-text">АЛЮМИНИЕВЫЕ ОКНА</div>
                        <div class="parph">Теплые алюминиевые окна предназначенные для установки в помещениях, требуемых повышенной звуко- и термоизоляции.</div>
                        <div class="parph">Холодные алюминиевые окна предназначенные для установки в помещениях, в которые не требуется поддержание температурного режима.</div>
                        <div class="parph">Основа тёплых алюминиевых окон - комбинированный профиль со специальной термовставкой из полиамида, которая и препятствует снижению температуры в помещении.</div>
                        <div class="parph">По показателям теплопроводности такие конструкции почти ничем не уступают лучшим ПВХ-системам, а значит легко могут быть установлены в квартире.</div>
                        <div class="parph"><strong>Тип профиля:</strong> из теплого алюминия (Alumin Techno W62)  или холодного алюминия (Alumin Techno C43).</div>
                        <div class="parph"><strong>Цвет:</strong> белый (возможны другие варианты ламинации).</div>
                        <div class="parph">Это чаще всего раздвижные алюминиевые окна. Они устанавливаются внутри и снаружи любых административных и общественных зданий, где поддержание температуры чаще всего не нужно. Именно поэтому их называют холодными алюминиевыми окнами. Эти конструкции так же могут быть установлены в качестве окон на балконе в случае, если вы не планируете активно использовать эту площадь.</div>
                        <div class="price">
                            <div class="parph">от 15 000 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="top-side">
                <div class="logo">
                    <a href="/">РемМаш<span>Сервис</a></span>
                    <div class="text">Мы делаем двери, которые защищают Ваш мир!</div>
                </div>
                <div class="important">
                    <div class="title">ВАЖНОЕ</div>
                    <div class="links">
                        <!-- <div class="link"><a href="">Политика конфиденциальности</a></div> -->
                        <div class="link"><a href="/photogallery">Фотогалерея</a></div>
                        <div class="link"><a href="/contacts">Контакты</a></div>
                    </div>
                </div>
                <div class="categories">
                    <div class="title">КАТЕГОРИИ</div>
                    <div class="links">
                        <div class="link"><a href="/#doors">Двери</a></div>
                        <div class="link"><a href="/#windows">Окна</a></div>
                        <div class="link"><a href="/firefighting#lukes">Люки</a></div>
                    </div>
                </div>
            </div>
            <div class="bottom-side">
                <div class="e-mail">
                    <div class="text"><i class="fa-solid fa-at"></i><a
                            href="mailto:RMSkirov@mail.ru">RMSkirov@mail.ru</a></div>
                </div>
                <div class="phone">
                    <div class="text"><i class="fa-solid fa-phone-volume"></i><a href="tel:+79583935153">+7 (958)
                            393-51-53</a></div>
                </div>
                <div class="address">
                    <div class="text"><i class="fa-solid fa-location-dot"></i>ООО "РемМашСервис", Россия, Кировская
                        обл., г. Киров, ул. Сормовская, 2, 610044</div>
                </div>
            </div>
            <div class="all-rights-reserved">
                &copy; 2023 Компания ООО "РемМашСервис". Все права зарезервированы.
            </div>
        </div>
    </footer>
    <div class="go-to-top btn-up_hide"><i class="fa-solid fa-arrow-turn-up"></i></div>
    <script async src="/js/smoothScroll.js"></script>
    <script async src="/js/fixedNavbar.js"></script>
    <script async src="/js/closeSpecialOffer.js"></script>
    <script async src="/js/go-to-top.js"></script>
    <script async src="/js/activeCardDoor.js"></script>
    <div class="form-send-contacts">
        <div class="wrap-4-form">
            <div class="wrap-inner">
                <div class="title-text">
                    ЗАКАЗАТЬ ЗВОНОК
                </div>
                <form method="post" action="/contact">
                    <div class="input-box">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <input id="name" type="text" name="name" required>
                        <label>Ваше имя</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
                        <input id="phone" type="tel" name="phone" required>
                        <label>Ваш номер телефона</label>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Заказать звонок">
                        <label>Нажимая кнопку «Заказать звонок», Вы даете свое согласие на обработку персональных данных</label>
                    </div>
                </form>
            </div>
        </div>
        <script async src="/js/showOrderCall.js"></script>
    </div>
</body>

</html>