<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Входные двери | РемМашСервис - Окна и двери</title>
    <meta name="description"
        content="Окна ПВХ. Металлические двери, противопожарные двери и окна, алюминиевые двери и окна, технические двери. Противопожарные люки." />
    <meta name="keywords" content="окна, двери, пвх, металлические, противопожарные, алюминиевые, технические люки" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/entrance.min.css">
    <link type="image/png" sizes="16x16" rel="icon" href="/img/favicon_16х16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/img/favicon_32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/img/favicon_96x96.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/img/favicon_120x120.png">
    <script async src="https://kit.fontawesome.com/328cbe3bb0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- <div class="soff-main">
            <div class="special-offer">
                <div class="alignCenter">
                    <div class="offerText"><i class="fa-solid fa-door-open"></i>Специальное предложение от РемМашСервис
                    </div>
                    <div class="more-info"><a href="">Узнать больше <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <i class="fa-solid fa-xmark" onclick="closeSoff()"></i>
            </div>
        </div> -->
        <div id="fixed" class="fixed">
            <div class="hat-bar">
                <div class="wrapped">
                    <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo"></a></span></div>
                    <nav class="navbar">
                        <ul>
                            <li class="nav-active-item" onclick="activeItem(1)">
                                <a>Двери <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#doors">Противопожарные</a></li>
                                    <li><a href="/entrance-doors">Входные</a></li>
                                    <li><a href="/tech-doors">Технические</a></li>
                                    <li><a href="/interior-doors">Межкомнатные</a></li>
                                    <li><a href="/alum#doors">Алюминиевые</a></li>
                                    <li><a href="/pvch#doors">ПВХ</a></li>
                                </ul>
                            </li>
                            <li class="nav-active-item" onclick="activeItem(2)">
                                <a>Окна <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#windows">Противопожарные</a></li>
                                    <li><a href="/alum#windows">Алюминиевые</a></li>
                                    <li><a href="/pvch#windows">ПВХ</a></li>
                                </ul>
                            </li>
                            <li><a href="/firefighting#lukes">Люки</a></li>
                            <li><a href="/photogallery">Фотогалерея</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></li>
                        </ul>
                    </nav>
                    <div class="search"></div>
                    <div class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></div>
                </div>
                <div id="burger" class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <script async src="/js/activeSubMenu.js"></script>
                <script async src="/js/burger.js"></script>
                <script async src="/js/resetBurger.js"></script>
            </div>
        </div>
    </header>
    <main>
        <div class="title">
            <h1>ВХОДНЫЕ ДВЕРИ</h1>
        </div>
        <div id="optima" class="container optima">
            <div class="info">
                <h2>ДВЕРИ ВХОДНЫЕ "ЭЛИТ"</h2>
                <div class="text">Входные двери изготавливаются из холоднокатаной стали марки 08 ПС толщиной от 1,2мм до 1,8мм, что соответствует ГОСТ 9045-93.</div>
                <div class="text">Двери имеют усиленную конструкцию цельногнутого профиля, что сохраняет правильную геометрию на весь срок службы – не менее 10 лет.</div>
                <div class="text">Петли регулируемые - барк. Фиксаторы противосъемные (3 шт.) Два контура резинового уплотнителя обеспечивают надежную герметичность двери. </div>
                <div class="text">Полотно утеплено экологически чистым материалом – минеральной ватой «Изовер» высокой плотности. </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img class="elite-door" src="/img/doors/entrance/elite/1.png" alt="tech-door-image">
                        <img class="elite-door" src="/img/doors/entrance/elite/2.png" alt="tech-door-image">
                        <img class="elite-door" src="/img/doors/entrance/elite/3.png" alt="tech-door-image">
                        <img class="elite-door" src="/img/doors/entrance/elite/4.png" alt="tech-door-image">
                        <a class="prevCardDoor" onclick="plusSlideTechDoor('elite', -1)">&#10094</a>
                        <a class="nextCardDoor" onclick="plusSlideTechDoor('elite', 1)">&#10095</a>
                    </div>
                    <div class="right-block">
                        <div class="title-text">Заводская гарантия – 12 месяцев.</div>
                        <div class="title-text">Наружная отделка двери:</div>
                        <div class="parph">- Фрезерованная, ламинированная термостойкая панель МДФ – 6,10,12мм. и декоративный наличник.</div>
                        <div class="parph">- Фрезерованная панель из массива дуба или сосны.</div>
                        <div class="title-text">Внутренняя отделка двери:</div>
                        <div class="parph">- Фрезерованная, ламинированная панель МДФ – 6, 10, 12 мм. и декоративный наличник.</div>
                        <div class="parph">- Фрезерованная панель из массива дуба или сосны.</div>
                        <div class="parph">- В замочную группу входной двери входят два замка (Гардиан – 3011 сувальдного типа и Гардиан – 3201 цилиндрового типа).</div>
                        <div class="parph">- Цилиндровый механизм ключ/вертушек. Ручка нажимная Apecs. Глазок с углом обзора 180 градусов. Цвет фурнитуры на выбор (хром, золото, бронза).</div>
                        <div class="parph">- Упаковка двери полная – полиэтиленовая пленка, гофрированный картон на всех плоскостях двери, пенопласт.</div>
                        <div class="parph-link"><a href="img/doors/entrance/Каталог Империя 2022.pdf" download>Все варианты и цвета МДФ-панелей можно выбрать ЗДЕСЬ</a></div>
                        <div class="price">
                            <div class="parph">от 20 000 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="econom" class="container econom">
            <div class="info">
                <h2>ДВЕРИ ВХОДНЫЕ "КОМФОРТ"</h2>
                <div class="text">Входные двери изготавливаются из холоднокатаной стали марки 08 ПС толщиной от 1,2мм до 1,8мм, что соответствует ГОСТ 9045-93.</div>
                <div class="text">Двери имеют усиленную конструкцию цельногнутого профиля, что сохраняет правильную геометрию на весь срок службы – не менее 10 лет.</div>
                <div class="text">Петли каплевидные на закрытом опорном подшипнике. Фиксаторы противосъемные (3 шт.) Два контура резинового уплотнителя обеспечивают надежную герметичность двери.</div>
                <div class="text">Полотно утеплено экологически чистым материалом – минеральной ватой «Изовер» высокой плотности. </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/1.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/2.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/3.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/4.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/5.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/6.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/7.png" alt="tech-door-image">
                        <img class="comfort-door" src="/img/doors/entrance/comfort/8.png" alt="tech-door-image">
                        <a class="prevCardDoor" onclick="plusSlideTechDoor('comfort', -1)">&#10094</a>
                        <a class="nextCardDoor" onclick="plusSlideTechDoor('comfort', 1)">&#10095</a>
                    </div>
                    <div class="right-block">
                        <div class="title-text">Заводская гарантия – 12 месяцев.</div>
                        <div class="title-text">Наружная отделка двери:</div>
                        <div class="parph">- Полимерно-порошковое покрытие дверей – Антик, шелк, крокодил или шагрень любой цвет по каталогу ral.</div>
                        <div class="title-text">Внутренняя отделка двери:</div>
                        <div class="parph">- Фрезерованная, ламинированная панель МДФ – 6, 10, 12 мм. и декоративный наличник.</div>
                        <div class="parph">- Фрезерованная панель из массива дуба или сосны.</div>
                        <div class="parph">- В замочную группу входной двери входят два замка (Гардиан – 3011 сувальдного типа и Гардиан – 3201 цилиндрового типа).</div>
                        <div class="parph">- Цилиндровый механизм ключ/вертушек. Ручка нажимная Apecs. Глазок с углом обзора 180 градусов. Цвет фурнитуры на выбор (хром, золото, бронза).</div>
                        <div class="parph">- Упаковка двери полная – полиэтиленовая пленка, гофрированный картон на всех плоскостях двери, пенопласт.</div>
                        <div class="parph-link"><a href="img/doors/entrance/Каталог Империя 2022.pdf" download>Все варианты и цвета МДФ-панелей можно выбрать ЗДЕСЬ</a></div>
                        <div class="price">
                            <div class="parph">от 16 500 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="termospace" class="container termospace">
            <div class="info">
                <h2>ДВЕРИ ВХОДНЫЕ С ТЕРМОРАЗРЫВОМ</h2>
                <div class="text">Входные двери серии «КЛИМАТ» идеально подходят для загородного дома, изготавливаются из холоднокатаной стали марки 08 ПС толщиной от 1,2 до 1,8 мм, что соответствует ГОСТ 31173-016. </div>
                <div class="text">Двери имеют усиленную конструкцию цельногнутого профиля, что сохраняет правильную геометрию на весь срок службы – не менее 10 лет.</div>
                <div class="text">Петли каплевидные на закрытом опорном подшипнике. Фиксаторы противосъемные (3 шт.) Два контура резинового уплотнителя обеспечивают надежную герметичность двери.</div>
                <div class="text">Полотно утеплено экологически чистым материалом – многослойным способом.</div>
                <div class="text">Внутренняя и наружная часть двери отделены фольгированным изолоном и не соприкасаются друг с другом, что что защищает от промерзание двери даже в самый сильный мороз.</div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="imgPc">
                        <img class="termospace-door" src="/img/doors/entrance/termo/1.png" alt="tech-door-image">
                        <img class="termospace-door" src="/img/doors/entrance/termo/2.png" alt="tech-door-image">
                        <img class="termospace-door" src="/img/doors/entrance/termo/3.png" alt="tech-door-image">
                        <a class="prevCardDoor" onclick="plusSlideTechDoor('termospace', -1)">&#10094</a>
                        <a class="nextCardDoor" onclick="plusSlideTechDoor('termospace', 1)">&#10095</a>
                    </div>
                    <div class="right-block">
                        <div class="title-text">Заводская гарантия – 12 месяцев.</div>
                        <div class="title-text">Наружная отделка двери:</div>
                        <div class="parph">- Полимерно-порошковое покрытие дверей – Антик, шелк, крокодил или шагрень любой цвет по каталогу ral.</div>
                        <div class="title-text">Внутренняя отделка двери:</div>
                        <div class="parph">- Фрезерованная, ламинированная панель МДФ – 6, 10, 12 мм.</div>
                        <div class="parph">- Фрезерованная панель из массива дуба или сосны.</div>
                        <div class="parph">- В замочную группу входной двери входят два замка сувального типа (Г-3011/3001).</div>
                        <div class="parph">- Ручка нажимная Apecs. Глазок с углом обзора 180 градусов. Цвет фурнитуры на выбор (хром, золото, бронза).</div>
                        <div class="parph">- Упаковка двери полная – полиэтиленовая пленка, гофрированный картон на всех плоскостях двери, пенопласт.</div>
                        <div class="parph-link"><a href="img/doors/entrance/Каталог Империя 2022.pdf" download>Все варианты и цвета МДФ-панелей можно выбрать ЗДЕСЬ</a></div>
                        <div class="price">
                            <div class="parph">от 21 000 &#8381;</div>
                            <a onclick="onOrderCall()">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="top-side">
                <div class="logo">
                    <a href="/">РемМаш<span>Сервис</a></span>
                    <div class="text">Мы делаем двери, которые защищают Ваш мир!</div>
                </div>
                <div class="important">
                    <div class="title">ВАЖНОЕ</div>
                    <div class="links">
                        <!-- <div class="link"><a href="">Политика конфиденциальности</a></div> -->
                        <div class="link"><a href="/photogallery">Фотогалерея</a></div>
                        <div class="link"><a href="/contacts">Контакты</a></div>
                    </div>
                </div>
                <div class="categories">
                    <div class="title">КАТЕГОРИИ</div>
                    <div class="links">
                        <div class="link"><a href="/#doors">Двери</a></div>
                        <div class="link"><a href="/#windows">Окна</a></div>
                        <div class="link"><a href="/firefighting#lukes">Люки</a></div>
                    </div>
                </div>
            </div>
            <div class="bottom-side">
                <div class="e-mail">
                    <div class="text"><i class="fa-solid fa-at"></i><a
                            href="mailto:RMSkirov@mail.ru">RMSkirov@mail.ru</a></div>
                </div>
                <div class="phone">
                    <div class="text"><i class="fa-solid fa-phone-volume"></i><a href="tel:+79583935153">+7 (958)
                            393-51-53</a></div>
                </div>
                <div class="address">
                    <div class="text"><i class="fa-solid fa-location-dot"></i>ООО "РемМашСервис", Россия, Кировская
                        обл., г. Киров, ул. Сормовская, 2, 610044</div>
                </div>
            </div>
            <div class="all-rights-reserved">
                &copy; 2023 Компания ООО "РемМашСервис". Все права зарезервированы.
            </div>
        </div>
    </footer>
    <div class="go-to-top btn-up_hide"><i class="fa-solid fa-arrow-turn-up"></i></div>
    <script async src="/js/smoothScroll.js"></script>
    <script async src="/js/fixedNavbar.js"></script>
    <script async src="/js/closeSpecialOffer.js"></script>
    <script async src="/js/go-to-top.js"></script>
    <script async src="/js/activeCardDoor.js"></script>
    <script async src="/js/sliderEntranceDoor.js"></script>
    <div class="form-send-contacts">
        <div class="wrap-4-form">
            <div class="wrap-inner">
                <div class="title-text">
                    ЗАКАЗАТЬ ЗВОНОК
                </div>
                <form method="post" action="/contact">
                    <div class="input-box">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <input id="name" type="text" name="name" required>
                        <label>Ваше имя</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
                        <input id="phone" type="tel" name="phone" required>
                        <label>Ваш номер телефона</label>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Заказать звонок">
                        <label>Нажимая кнопку «Заказать звонок», Вы даете свое согласие на обработку персональных
                            данных</label>
                    </div>
                </form>
            </div>
        </div>
        <script async src="/js/showOrderCall.js"></script>
    </div>
</body>

</html>