<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная | РемМашСервис - Окна и двери</title>
    <meta name="description"
        content="Окна ПВХ. Металлические двери, противопожарные двери, аллюминиевые двери. Противопожарные люки." />
    <meta name="keywords" content="окна, двери, пвх, металлические, противопожарные, аллюминиевые, люки" />
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" />
    <link type="image/png" sizes="16x16" rel="icon" href="/img/favicon_16х16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/img/favicon_32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/img/favicon_96x96.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/img/favicon_120x120.png">
    <script async src="https://kit.fontawesome.com/328cbe3bb0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <!-- <div class="soff-main">
            <div class="special-offer">
                <div class="alignCenter">
                    <div class="offerText"><i class="fa-solid fa-door-open"></i>Специальное предложение от РемМашСервис
                    </div>
                    <div class="more-info"><a href="">Узнать больше <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <i class="fa-solid fa-xmark" onclick="closeSoff()"></i>
            </div>
        </div> -->
        <div id="fixed" class="fixed">
            <div class="hat-bar">
                <div class="wrapped">
                    <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo"></a></span></div>
                    <nav class="navbar">
                        <ul>
                            <li class="nav-active-item" onclick="activeItem(1)">
                                <a>Двери <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#doors">Противопожарные</a></li>
                                    <li><a href="/entrance-doors">Входные</a></li>
                                    <li><a href="/tech-doors">Технические</a></li>
                                    <li><a href="/interior-doors">Межкомнатные</a></li>
                                    <li><a href="/alum#doors">Алюминиевые</a></li>
                                    <li><a href="/pvch#doors">ПВХ</a></li>
                                </ul>
                            </li>
                            <li class="nav-active-item" onclick="activeItem(2)">
                                <a>Окна <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#windows">Противопожарные</a></li>
                                    <li><a href="/alum#windows">Алюминиевые</a></li>
                                    <li><a href="/pvch#windows">ПВХ</a></li>
                                </ul>
                            </li>
                            <li><a href="/firefighting#lukes">Люки</a></li>
                            <li><a href="/photogallery">Фотогалерея</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></li>
                        </ul>
                    </nav>
                    <div class="search"></div>
                    <div class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></div>
                </div>
                <div id="burger" class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <script async src="/js/activeSubMenu.js"></script>
                <script async src="/js/burger.js"></script>
                <script async src="/js/resetBurger.js"></script>
            </div>
        </div>
        <div class="head-bar">
            <!-- <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div> -->
            <div class="left-bar">
                <div class="h1">
                    <h1><span>Огнестойкие</span> решения для вашего бизнеса</h1>
                </div>
                <div class="h2">
                    <h2>Надежная защита и безопасность вашего предприятия с нашими специализированными противопожарными дверями</h2>
                </div>
                <form method="post" action="/sendemail">
                    <div class="givePrice">Получите скидку 10% на свой E-mail: </div>
                    <input type="text" name="email" placeholder="Напишите свой e-mail адрес">
                    <div class="wrongInput">Введите e-mail в формате name@mail.com</div>
                    <div class="giveSale"><button type="submit">Получить скидку</button></div>
                </form>
            </div>
            <div class="right-bar">
                <img src="/img/главная.jpg" alt="background">
                <div>Доставка 100% без обязательств</div>
                <div>Доставка 100% без обязательств</div>
                <div>Доставка 100% без обязательств</div>
            </div>
        </div>
    </header>
    <main>
        <div class="advantages">
            <div class="advantageText">Наши преимущества</div>
            <div class="services">
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="titleText">Надежность</div>
                    <div class="text">Продукция компании сертифицирована и соответствует требованиям государственных
                        стандартов.</div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="titleText">Надежность</div>
                    <div class="text">Продукция компании сертифицирована и соответствует требованиям государственных
                        стандартов.</div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="titleText">Надежность</div>
                    <div class="text">Продукция компании сертифицирована и соответствует требованиям государственных
                        стандартов.</div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-regular fa-comment"></i>
                    </div>
                    <div class="titleText">Консультация</div>
                    <div class="text">Грамотные менеджеры окажут технические консультации и помогут с расчетами.</div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-crown"></i>
                    </div>
                    <div class="titleText">Качество</div>
                    <div class="text">Система контроля качества на каждом этапе производства.</div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-rocket "></i>
                    </div>
                    <div class="titleText">Логистика</div>
                    <div class="text">Доставка по всей России. Возьмем машину и доставим Ваши двери в любом направлении.
                    </div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-mug-hot"></i>
                    </div>
                    <div class="titleText">Лояльность</div>
                    <div class="text">Гибкая система скидок. Мы всегда сможем договориться. </div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-mug-hot"></i>
                    </div>
                    <div class="titleText">Лояльность</div>
                    <div class="text">Гибкая система скидок. Мы всегда сможем договориться. </div>
                </div>
                <div class="service">
                    <div class="align-bg">
                        <div class="background"></div>
                        <i class="fa-solid fa-mug-hot"></i>
                    </div>
                    <div class="titleText">Лояльность</div>
                    <div class="text">Гибкая система скидок. Мы всегда сможем договориться.</div>
                </div>
            </div>
            <a class="prevService" onclick="plusSlidesService(-1)">&#10094</a>
            <a class="nextService" onclick="plusSlidesService(1)">&#10095</a>
            <div class="dots-service" style="text-align: center">
                <span class="dot-service" onclick="currentSlideService(3)"></span>
                <span class="dot-service" onclick="currentSlideService(4)"></span>
                <span class="dot-service" onclick="currentSlideService(5)"></span>
                <span class="dot-service" onclick="currentSlideService(6)"></span>
                <span class="dot-service" onclick="currentSlideService(7)"></span>
            </div>
            <script async src="/js/sliderService.js"></script>
        </div>
        <div id="doors" class="doors">
            <div class="titleText">Двери</div>
            <div class="variants">
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-firefighting.png" alt="door">
                        <div class="door-text-title">Противопожарные</div>
                        <div class="door-text">Наша компания производит противопожарные металлические и алюминиевые
                            двери с пределами огнестойкости 15 (EIW-15), 30 (EIW-30, EIWS-30) и 60 (EIW-60, EI-60)
                            минут. Они защищают от огня здания, производственные и складские помещения: локализуют очаг
                            возгорания, не дают огню и продуктам горения распространиться, максимально уменьшая ущерб от
                            пожара и сохраняя жизни людей, находящихся в здании.</div>
                    </div>
                    <a href="/firefighting">Подробнее</a>
                </div>
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-entrance.png" alt="door">
                        <div class="door-text-title">Входные</div>
                        <div class="door-text"> Наша главная цель – сделать вашу жизнь комфортнее, чтобы вы могли
                            наслаждаться уютом своего дома. Входные двери нашего производства помогут вам чувствовать
                            себя безопасно и защищенно в своем доме. Кроме того, стальные двери - это гарантия тепла,
                            уюта и максимального комфорта, даже в самые жесткие зимние месяцы. Не откладывайте заботы о
                            своей безопасности и комфорте на потом, обратитесь к нам прямо сейчас и получите двери
                            мечты!</div>
                    </div>
                    <a href="/entrance-doors">Подробнее</a>
                </div>
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-tech.png" alt="door">
                        <div class="door-text-title">Технические</div>
                        <div class="door-text">В основном, эти двери предназначены для установки в подъездах многоквартирных домов, обеспечивая надежную защиту и доступ только жильцам. Также они идеально подходят для тамбуров и подсобных помещений. Служебные помещения также становятся безопасными и защищенными благодаря нашим техническим дверям.</div>
                    </div>
                    <a href="/tech-doors">Подробнее</a>
                </div>
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-interior.png" alt="door">
                        <div class="door-text-title">Межкомнатные</div>
                        <div class="door-text">Оформляя свой дом или офис, не забудьте обратить внимание на важный элемент интерьера - межкомнатные двери. Наши межкомнатные двери изготавливаются из МДФ, материала, который соответствует всем требованиям ГОСТ. Мы гарантируем высокое качество и надежность каждой двери, а также прочность, которая обеспечит долгий срок ее службы. Мы уверены, что наши межкомнатные двери станут надежным и красивым дополнением к вашему интерьеру.</div>
                    </div>
                    <a href="/interior-doors">Подробнее</a>
                </div>
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-alum.png" alt="door">
                        <div class="door-text-title">Алюминиевые</div>
                        <div class="door-text">Наша компания рада предложить вам ассортимент алюминиевых дверей. Двери однопольные и двупольные - выбор всегда за вами. Легкое и плавное поворотное открывание наружу или внутрь. Или может быть вы предпочитаете раздвижные двери - у нас они в ассортименте. И самое главное, мы предлагаем двери из теплого и холодного профиля, так что вы сами решаете, какую теплоизоляцию предпочитаете. Сделайте правильный выбор с нами уже сегодня!</div>
                    </div>
                    <a href="/alum#doors">Подробнее</a>
                </div>
                <div class="door">
                    <div class="wrapped">
                        <img src="/img/door-pvch.png" alt="door">
                        <div class="door-text-title">ПВХ</div>
                        <div class="door-text">Мы тщательно подбираем ПВХ профили только от известных и проверенных производителей, чтобы гарантировать долговечность и стабильность работы наших дверей. Благодаря сотрудничеству с компаниями Proplex, Exprof и Rehau, мы создаем двери, которые обеспечивают идеальную теплоизоляцию. Выбирая нашу компанию, Вы получаете не только качественные двери, но и профессиональное обслуживание.</div>
                    </div>
                    <a href="/pvch#doors">Подробнее</a>
                </div>
            </div>
            <a class="prev" onclick="plusSlidesDoor(-1)">&#10094</a>
            <a class="next" onclick="plusSlidesDoor(1)">&#10095</a>
            <div class="dots-doors" style="text-align: center">
                <span class="dot-doors" onclick="currentSlideDoor(1)"></span>
                <span class="dot-doors" onclick="currentSlideDoor(2)"></span>
                <span class="dot-doors" onclick="currentSlideDoor(3)"></span>
                <span class="dot-doors" onclick="currentSlideDoor(4)"></span>
                <span class="dot-doors" onclick="currentSlideDoor(5)"></span>
                <span class="dot-doors" onclick="currentSlideDoor(6)"></span>
            </div>
        </div>
        <script async src="/js/sliderDoor.js"></script>
        <div id="windows" class="windows">
            <div class="titleText">Окна</div>
            <div class="variants">
                <div class="window">
                    <div class="wrapped">
                        <img src="/img/window-firefighting.png" alt="door">
                        <div class="window-text-title">Противопожарные</div>
                        <div class="window-text">Наша компания производит окна с противопожарной защитой, выполненные из алюминия, с пределами огнестойкости 15 (EIW-15), 30 (EIW-30, EIWS-30) и 60 (EIW-60, EI-60) минут. Они предназначены для защиты зданий, производственных и складских помещений от возгорания, позволяют ограничить распространение огня и продуктов горения, минимизируя ущерб от пожара и спасая жизни людей, находящихся внутри.</div>
                    </div>
                    <a href="/firefighting">Подробнее</a>
                </div>
                <div class="window">
                    <div class="wrapped">
                        <img src="/img/window-alum.png" alt="door">
                        <div class="window-text-title">Алюминиевые</div>
                        <div class="window-text">Мы работаем как с теплым, так и с холодным профилем, чтобы удовлетворить все ваши потребности и предпочтения. Преимущества наших алюминиевых окон очевидны. Во-первых, они отличаются доступной ценой, что позволяет вам сэкономить свои финансы. Во-вторых, они обладают высоким качеством, которое обеспечивает долговечность и надежность окон. Наши окна не только сохранят ваш дом в тепле, но и защитят его от шума и пыли.</div>
                    </div>
                    <a href="/alum#windows">Подробнее</a>
                </div>
                <div class="window">
                    <div class="wrapped">
                        <img src="/img/window-pvch.png" alt="door">
                        <div class="window-text-title">ПВХ</div>
                        <div class="window-text">Независимо от того, нужно ли вам остекление многоквартирного дома или частного загородного дома, офисного помещения или производственного цеха, наши окна всегда будут выступать в роли надежной и эстетически привлекательной защиты от внешних факторов. Мы сотрудничаем с такими производителями как Proplex, Exprof и Rehau, поэтому вы получаете гарантированно высокое качество и надежность продукции.</div>
                    </div>
                    <a href="/pvch#windows">Подробнее</a>
                </div>
            </div>
            <a class="prev" onclick="plusSlidesWindow(-1)">&#10094</a>
            <a class="next" onclick="plusSlidesWindow(1)">&#10095</a>
            <div class="dots-windows" style="text-align: center">
                <span class="dot-windows" onclick="currentSlideWindow(1)"></span>
                <span class="dot-windows" onclick="currentSlideWindow(2)"></span>
                <span class="dot-windows" onclick="currentSlideWindow(3)"></span>
            </div>
        </div>
        <script async src="/js/sliderWindow.js"></script>
        <div id="contacts" class="contacts">
            <div class="titleText">Наши контакты</div>
            <div class="container">
                <div class="e-mail">
                    <i class="fa-regular fa-envelope-open"></i>Обработка заказов:
                    <a href="mailto:RMSkirov@mail.ru">RMSkirov@mail.ru</a>
                    <br><i class="fa-solid fa-phone-volume"></i>Менеджер - Екатерина Андреевна
                    <a href="tel:+79583935153">+7 (958) 393-51-53</a>
                </div>
                <div class="e-mail">
                    <i class="fa-regular fa-envelope-open"></i>Начальник отдела снабжения:
                    <a href="mailto:Mosunov_89@mail.ru">Mosunov_89@mail.ru</a>
                    <br><i class="fa-solid fa-phone-volume"></i>Вячеслав Вадимович
                    <a href="tel:+79091340003">+7 (909) 134-00-03</a>
                </div>
                <div class="address">
                    <i class="fa-solid fa-location-dot"></i>
                    610044, ООО "РемМаш<span>Сервис</span>", Россия, Киров, ул. Сормовская, 2
                </div>
            </div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2077.7436250987225!2d49.612554496750874!3d58.616657207952585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43fcf5e6acba0679%3A0x5c829483b9496db4!2z0YPQuy4g0KHQvtGA0LzQvtCy0YHQutCw0Y8sIDIsINCa0LjRgNC-0LIsINCa0LjRgNC-0LLRgdC60LDRjyDQvtCx0LsuLCA2MTAwNDQ!5e0!3m2!1sru!2sru!4v1686488331806!5m2!1sru!2sru"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="top-side">
                <div class="logo">
                    <a href="/">РемМаш<span>Сервис</a></span>
                    <div class="text">Мы делаем двери, которые защищают Ваш мир!</div>
                </div>
                <div class="important">
                    <div class="title">ВАЖНОЕ</div>
                    <div class="links">
                        <!-- <div class="link"><a href="">Политика конфиденциальности</a></div> -->
                        <div class="link"><a href="/photogallery">Фотогалерея</a></div>
                        <div class="link"><a href="/contacts">Контакты</a></div>
                    </div>
                </div>
                <div class="categories">
                    <div class="title">КАТЕГОРИИ</div>
                    <div class="links">
                        <div class="link"><a href="#doors">Двери</a></div>
                        <div class="link"><a href="#windows">Окна</a></div>
                        <div class="link"><a href="/firefighting/#lukes">Люки</a></div>
                    </div>
                </div>
            </div>
            <div class="bottom-side">
                <div class="e-mail">
                    <div class="text"><i class="fa-solid fa-at"></i><a
                            href="mailto:RMSkirov@mail.ru">RMSkirov@mail.ru</a></div>
                </div>
                <div class="phone">
                    <div class="text"><i class="fa-solid fa-phone-volume"></i><a href="tel:+79583935153">+7 (958)
                            393-51-53</a></div>
                </div>
                <div class="address">
                    <div class="text"><i class="fa-solid fa-location-dot"></i>ООО "РемМашСервис", Россия, Кировская
                        обл., г. Киров, ул. Сормовская, 2, 610044</div>
                </div>
            </div>
            <div class="all-rights-reserved">
                &copy; 2023 Компания ООО "РемМашСервис". Все права зарезервированы.
            </div>
        </div>
    </footer>
    <div class="go-to-top btn-up_hide"><i class="fa-solid fa-arrow-turn-up"></i></div>
    <script async src="/js/smoothScroll.js"></script>
    <script async src="/js/fixedNavbar.js"></script>
    <script async src="/js/closeSpecialOffer.js"></script>
    <script async src="/js/go-to-top.js"></script>
    <div class="form-send-contacts">
        <div class="wrap-4-form">
            <div class="wrap-inner">
                <div class="title-text">
                    ЗАКАЗАТЬ ЗВОНОК
                </div>
                <form method="post" action="/contact">
                    <div class="input-box">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <input id="name" type="text" name="name" required>
                        <label>Ваше имя</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
                        <input id="phone" type="tel" name="phone" required>
                        <label>Ваш номер телефона</label>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Заказать звонок">
                        <label>Нажимая кнопку «Заказать звонок», Вы даете свое согласие на обработку персональных данных</label>
                    </div>
                </form>
            </div>
        </div>
        <script async src="/js/showOrderCall.js"></script>
    </div>
</body>

</html>