<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Межкомнатные двери | РемМашСервис - Окна и двери</title>
    <meta name="description"
        content="Окна ПВХ. Металлические двери, противопожарные двери и окна, алюминиевые двери и окна, технические двери. Противопожарные люки." />
    <meta name="keywords" content="окна, двери, пвх, металлические, противопожарные, алюминиевые, технические люки" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/interior.min.css">
    <link type="image/png" sizes="16x16" rel="icon" href="/img/favicon_16х16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="/img/favicon_32x32.png">
    <link type="image/png" sizes="96x96" rel="icon" href="/img/favicon_96x96.png">
    <link type="image/png" sizes="120x120" rel="icon" href="/img/favicon_120x120.png">
    <script async src="https://kit.fontawesome.com/328cbe3bb0.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" /> -->
</head>

<body>
    <header>
        <div class="soff-main">
            <div class="special-offer">
                <div class="alignCenter">
                    <div class="offerText"><i class="fa-solid fa-door-open"></i>Специальное предложение от РемМашСервис
                    </div>
                    <div class="more-info"><a href="">Узнать больше <i class="fa-solid fa-angles-right"></i></a></div>
                </div>
                <i class="fa-solid fa-xmark" onclick="closeSoff()"></i>
            </div>
        </div>
        <div id="fixed" class="fixed">
            <div class="hat-bar">
                <div class="wrapped">
                    <div class="logo"><a href="/"><img src="/img/logo.png" alt="logo"></a></span></div>
                    <nav class="navbar">
                        <ul>
                            <li class="nav-active-item" onclick="activeItem(1)">
                                <a>Двери <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#doors">Противопожарные</a></li>
                                    <li><a href="/entrance-doors">Входные</a></li>
                                    <li><a href="/tech-doors">Технические</a></li>
                                    <li><a href="/interior-doors">Межкомнатные</a></li>
                                    <li><a href="/alum#doors">Алюминиевые</a></li>
                                    <li><a href="/pvch#doors">ПВХ</a></li>
                                </ul>
                            </li>
                            <li class="nav-active-item" onclick="activeItem(2)">
                                <a>Окна <i class="fa-solid fa-chevron-down fa-beat-fade"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/firefighting#windows">Противопожарные</a></li>
                                    <li><a href="/alum#windows">Алюминиевые</a></li>
                                    <li><a href="/pvch#windows">ПВХ</a></li>
                                </ul>
                            </li>
                            <li><a href="/firefighting#lukes">Люки</a></li>
                            <li><a href="/photogallery">Фотогалерея</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                            <li class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></li>
                        </ul>
                    </nav>
                    <div class="search"></div>
                    <div class="givePhone"><a onclick="onOrderCall()">Заказать звонок</a></div>
                </div>
                <div id="burger" class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <script async src="/js/activeSubMenu.js"></script>
                <script async src="/js/burger.js"></script>
                <script async src="/js/resetBurger.js"></script>
            </div>
        </div>
    </header>
    <main>
        <div class="title">
            <h1>МЕЖКОМНАТНЫЕ ДВЕРИ</h1>
        </div>
        <div id="doors" class="container">
            <div class="info">
                <h2>ДВЕРИ МЕЖКОМНАТНЫЕ МДФ (ОБЛИЦОВАННЫЕ ПВХ)</h2>
                <div class="text">
                    <h3>Конструкция дверей:</h3> 
                    <ul>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Каркас из хвойных пород древесины. Используемая древесина проходит жесткий отбор по нескольким критериям в соответствии с ГОСТ. </li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Пять слоев МДФ, склеенных и спрессованных между собой в несколько этапов в соответствии с технологическим процессом, что обеспечивает целостность, надежность и прочность дверного полотна. Вес такой двери в зависимости от модели может составлять от 20 до 55 кг.</li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Использование современного оборудования с программным обеспечением в сочетании с большим количеством режущих инструментов обеспечивают создание огромного количества рисунков, в том числе индивидуальных проектов.</li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Основательная подготовка полотна к облицовке пленкой ПВХ, исключающая появление различных дефектов и неровностей.</li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>По технологиям допускается использование толщины пленок, используемых для облицовки полотен, от 0,1 до 0,45 мм. Мы используем пленку толщиной от 0,3 до 0,45 мм, что способствует значительному повышению влагостойкости, прочности и эстетичности. </li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Применение наиболее сложной технологии облицовки дверного полотна обеспечивает исключение необлицованных частей полотна, а один шов вместо двух, возникающих при использовании кромочных материалов, способствует максимальной защите от внешних факторов.</li>
                        <li><i class="fa-regular fa-circle-check fa-fade"></i>Использование широкого спектра стекол с различной художественной обработкой и большой цветовой гаммой дополняет качество дверей и придает привлекательный вид. </li>
                    </ul>
                    <div class="parph">Благодаря использованию современного оборудования и полноценному циклу производства, а также опытным конструкторам и технологам, компания РемМашСервис предлагает высококачественный погонаж (дверные коробки, пороги, наличники), отвечающий требованиям ГОСТ, отличающийся высоким качеством, надежностью, прочностью и отлично сочетающийся с дверным полотном.</div>
                    <div class="imgPc"><img src="/img/doors/interior/technology.webp" alt="technology"></div>
                </div>
            </div>
            <div class="info">
                <h2>МОДЕЛЬНЫЙ РЯД МЕЖКОМНАТНЫХ ДВЕРЕЙ РМС</h2>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-container">
                <div class="gallery-item card gallery-item--1">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-0">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-1">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-2">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-3">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-4">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-5">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-6">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
                <div class="gallery-item card gallery-item-7">
                    <div class="name-of-model"><div></div></div>
                    <img alt="interior-door">
                    <div class="wrapped">
                        <div class="price"></div>
                        <div class="order"><a onclick="onOrderCall()">Заказать</a></div>
                    </div>
                </div>
            </div>
            <div class="gallery-controls">
    
            </div>
        </div>
        <div class="container">
            <div class="info">
                <h2>ВАРИАНТЫ ЦВЕТА МЕЖКОМНАТНЫХ ДВЕРЕЙ</h2>
                <div class="imgPc"><img src="/img/doors/interior/colors-of-doors.webp" alt="colours"></div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="top-side">
                <div class="logo">
                    <a href="/">РемМаш<span>Сервис</a></span>
                    <div class="text">Мы делаем двери, которые вы открываете.</div>
                </div>
                <div class="important">
                    <div class="title">ВАЖНОЕ</div>
                    <div class="links">
                        <div class="link"><a href="">Политика конфиденциальности</a></div>
                        <div class="link"><a href="/photogallery">Фотогалерея</a></div>
                        <div class="link"><a href="/contacts">Контакты</a></div>
                    </div>
                </div>
                <div class="categories">
                    <div class="title">КАТЕГОРИИ</div>
                    <div class="links">
                        <div class="link"><a href="/#doors">Двери</a></div>
                        <div class="link"><a href="/#windows">Окна</a></div>
                        <div class="link"><a href="/firefighting#lukes">Люки</a></div>
                    </div>
                </div>
            </div>
            <div class="bottom-side">
                <div class="e-mail">
                    <div class="text"><i class="fa-solid fa-at"></i><a
                            href="mailto:RMSkirov@mail.ru">RMSkirov@mail.ru</a></div>
                </div>
                <div class="phone">
                    <div class="text"><i class="fa-solid fa-phone-volume"></i><a href="tel:+79583935153">+7 (958)
                            393-51-53</a></div>
                </div>
                <div class="address">
                    <div class="text"><i class="fa-solid fa-location-dot"></i>ООО "РемМашСервис", Россия, Кировская
                        обл., г. Киров, ул. Сормовская, 2, 610044</div>
                </div>
            </div>
            <div class="all-rights-reserved">
                &copy; 2023 Компания ООО "РемМашСервис". Все права зарезервированы.
            </div>
        </div>
    </footer>
    <div class="go-to-top btn-up_hide"><i class="fa-solid fa-arrow-turn-up"></i></div>
    <script async src="/js/smoothScroll.js"></script>
    <script async src="/js/closeSpecialOffer.js"></script>
    <script async src="/js/go-to-top.js"></script>
    <script async src="/js/interiorSlider.js"></script>
    <div class="form-send-contacts">
        <div class="wrap-4-form">
            <div class="wrap-inner">
                <div class="title-text">
                    ЗАКАЗАТЬ ЗВОНОК
                </div>
                <form method="post" action="/contact">
                    <div class="input-box">
                        <span class="icon"><i class="fa-regular fa-user"></i></span>
                        <input id="name" type="text" name="name" required>
                        <label>Ваше имя</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>
                        <input id="phone" type="tel" name="phone" required>
                        <label>Ваш номер телефона</label>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Заказать звонок">
                        <label>Нажимая кнопку «Заказать звонок», Вы даете свое согласие на обработку персональных данных</label>
                    </div>
                </form>
            </div>
        </div>
        <script async src="/js/showOrderCall.js"></script>
    </div>
</body>

</html>